@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.gradient-text {
  background: linear-gradient(
    270deg,
    #0097b2 24.19%,
    #c9ecf2 48.03%,
    #188497 76.79%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.custom-btn {
  transition: background 0.3s ease, color 0.3s ease;
}

.custom-btn:hover {
  background: linear-gradient(162.69deg, #0097b2 14.81%, #a7dde7 91.22%);
  color: black;
}

.custom-btn .gradient-text {
  transition: background 0.3s ease, -webkit-text-fill-color 0.3s ease;
}

.custom-btn:hover .gradient-text {
  background: none;
  -webkit-background-clip: none;
  -webkit-text-fill-color: black;
}

.button-bg {
  background: linear-gradient(162.69deg, #0097b2 14.81%, #a7dde7 91.22%);
  transition: background 0.3s ease;
}

.custom-btn:hover .button-bg {
  background: black;
}

.custom-btn i {
  transition: color 0.3s ease;
}

.custom-btn:hover i {
  color: white;
}

/* customer scroll bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #188497;
  border-radius: 5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0097b2;
}
